
/* BODY: Hintergrundfarbe, Schriftart, -groesse und -farbe */
/* BODY: background color, font, size and color */
body {
	font-family:Verdana, Arial, Helvetica, sans-serif; 
/*	font-size:10pt; */
	color:#000000; 

	background-color: #779942;
	/* background-image: linear-gradient(#EFC04F, #FFE08F); */ 
	/* background-attachment: fixed; */
	}

/* LINK-Farbe - AUSSER bei der Bootstrap-Klasse "btn" für Buttons. Dort wird der Bootstrap-Standard benutzt. */
/* LINK-color - EXCEPT for Bootstrap button-class "btn". Use defaults there. */
a:not(.btn) { color:#000000; text-decoration:underline;}
a:not(.btn):link { color:#000000; } 
a:not(.btn):visited { color:#404040; }
a:not(.btn):active { color:#FF0000; }
a:not(.btn):hover { color:#FF0000; text-decoration:none; }


/* Statistik */
/* Statistics */
#keepStats { 
	margin-top:10px; 
	font-size:90%; 
	}

/* Willkommensnachricht (erster DIV)
   Welcome Message (first DIV) */
#sectionDescription > div:first-of-type {
    padding: 5% 2%;
    text-overflow: clip;
    overflow: auto;
    margin-top: 1.0em;
    max-height: 60vh;
}

/* BOOTSTRAP */
.row {
	padding: 0.2em; 
}

/* Gestreifte Spalten in den Ergebnis-Listen
	Striped rows in results */
.mow-row-striped:nth-child(odd) {
	background-color: rgba(0, 0, 0, 0.05);
}


/* Social Media DIV und zugehoerige Buttons */
/* Social media DIV and corresponding buttons */
.social-facebook {
    background: #4560a3;
	color: #c0c0c0;
}

.social-twitter {
   background: #68ace3;
	color: #fff;
}

.social-mail {
	background: #c6c6c6;
	color: #fff;
}


/*	FadeIn + FadeOut */

@keyframes myFadeIn {
	from { opacity: 0; }
	to { opacity: 1; }
}

@keyframes myFadeOut {
	from { opacity: 1; }
	to { opacity: 0; }
}

.site-header {
	display: flex;
	align-items: center;
	padding: 10px 20px;
	background-color: #406B33;
}

.logo img {
	height: 50px; /* adjust as needed */
}

/* Style all font awesome icons */
a.fa {
	padding: 10px;
	font-size: 15px;
	text-align: center;
	text-decoration: none;
	border-radius: 50%;
}

/* Add a hover effect if you want */
a.fa:hover {
	opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
a.fa-facebook {
	background: #3B5998;
	color: white;
}

a.fa-youtube {
	background: #bb0000;
	color: white;
}

a.fa-instagram {
	background: #125688;
	color: white;
}

.social-media {
	all: unset;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	width: 15px;
	height: 15px;
}
.social-media a::before {
	color:#1c1c1c
}